
@import url(elements/keyframes.css);
@import url(elements/cards.css);
@import url(elements/header.css);
@import url(elements/navbar.css);
@import url(elements/accordion.css);
@import url(elements/utilities.css);
@import url(elements/forms.css);
@import url(elements/buttons.css);
@import url(elements/lists.css);
@import url(elements/footer.css);
@import url(elements/scrollbar.css);

html,
body {
    background: var(--body-background);
    color: var(--body-color);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
    color: #6194BC;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #A5D1F3;
    text-decoration: none;
}

