@import 'elements/navbar.css';
@import 'elements/container.css';
@import 'elements/card.css';
@import 'elements/button.css';
@import 'elements/table.css';
@import 'elements/form.css';
@import 'elements/utility.css';

body {
    background-color: var(--body-bg);
    color: var(--body-font-color);
    font-family: "nunito";
    font-weight: 100;
}