.badge-lg {
    padding: 8px;
}

.badge {
    font-weight: 100;
    min-width: 75px;
}

.badge-custom {
    background-color: var(--badge-bg);
    color: var(--badge-font)  !important;
}

.badge.bg-success {
    background-color: var(--success) !important;
}