.btn {
    border-radius: 6px;
    text-decoration: none !important;
    box-shadow: none !important;
}

/**
 * Info Button
 */
.btn-info {
    background-color: var(--info);
    border-color: var(--info);
    text-shadow: none !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color: var(--info-hover);
    border-color: var(--info-hover);
}

.btn-info:not(:disabled):not(.disabled).active, 
.btn-info:not(:disabled):not(.disabled):active, 
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: var(--info-hover);
    border-color: var(--info-hover);
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: var(--info-hover);
    border-color: var(--info-hover);
}

/**
 * Success Button
 */
.btn-success {
    background-color: var(--success);
    border-color: var(--success);
    text-shadow: none !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}

.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active, 
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}

.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}


/**
 * Warning Button
 */
.btn-warning {
    background-color: #fa7051;
    border-color: #fa7051;
    transition: all .3s ease-in-out;
    color:white;
}

.btn-warning.disabled {
    background-color: #fa7051;
    border-color: #fa7051;
    color:white;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background-color: #fa7051;
    border-color: #fa7051;
    color:#FFF;
    filter: brightness(120%);
}

.btn-warning:not(:disabled):not(.disabled).active, 
.btn-warning:not(:disabled):not(.disabled):active, 
.show>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #fb6340;
    border-color: #fb6340;
}

.btn-warning.focus, .btn-warning:focus {
    color: #fff;
    background-color: #fb6340;
    border-color: #fb6340;
}

/**
 * Dark Button
 */
.btn-dark {
    background-color: rgba(255,255,255,0.04) !important;
    color: #AAA;
}

.pulse-info {
    animation: pulse-info 2s infinite;
}
.pulse-warning {
    animation: pulse-warning 2s infinite;
}

@keyframes pulse-info {
    0% {
      box-shadow: 0 0 0 0 #008a81;
    }
    
    70% {
      box-shadow: 0 0 0 13px #fb634000;
    }
    
    100% {
      box-shadow: 0 0 0 0 #fb634000;
    }
}

@keyframes pulse-warning {
    0% {
      box-shadow: 0 0 0 0 #fb6340;
    }
    
    70% {
      box-shadow: 0 0 0 13px #fb634000;
    }
    
    100% {
      box-shadow: 0 0 0 0 #fb634000;
    }
}
  
.track-btn {
    border-radius: 0 5px 5px 0;
    border-left: 0;
    border: none;
}



.page-link {
    color: var(--pagination-color);
    background-color: var(--pagination-bg);
    border: solid 1px var(--pagination-border);
}

.page-link:hover {
    color: var(--pagination-color);
    background-color: var(--pagination-hover-bg);
    border-color: var(--pagination-hover-border);
}

.page-item.active .page-link {
    color: var(--pagination-color);
    background-color: var(--pagination-hover-bg);
    border-color: var(--pagination-hover-border);
}
