.btn {
    outline: 0;
    box-shadow: none !important;
}

/**
 * Primary Button
 */
.btn-primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
    border: 0;
}

.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
    border: 0;
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary);
    border: 0;
}

/**
 * Info Button
 */


 /**
 * Success Button
 */


 /**
 * Warning Button
 */

 
 /**
 * Danger Button
 */