.card {
    background-color: var(--card-bg);
    border: none !important;
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%) !important;
}

.card .hover-icon {
    transition: all .1s ease-in-out;
}
.card:hover .hover-icon {
    transform: scale(1.3); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.card.bg-primary {
    color: white !important;
    background-color: var(--primary-card) !important;
}