.form-control {
    color: var(--input-color);
    outline: 0;
    box-shadow: none !important;
    background-color: var(--input-bg);
    border: none;
}

.form-control:focus {
    color: var(--input-focus-color);
    background-color: var(--input-focus-bg);
    border-color: var(--input-focus-border);
}

.form-control::placeholder {
    color: var(--input-placeholder);
}