input.form-control {
    background-color: var(--input-bg);
    border: solid 1px var(--input-border);
    color: var(--input-color);
}

.form-control:focus {
    color: var(--input-active-color) !important;
    background-color: var(--input-active-bg);
    border: solid 1px var(--input-active-border);
    outline: 0;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #008a81;
  -webkit-text-fill-color: var(--input-color) !important;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--input-bg);
  opacity: 1;
}