.form-control {
    border-radius: 2rem;
    box-shadow: none !important;
    height: 38px;
}

.form-control.border-danger {
    border-width: 3px;
}

.custom-group {
    position: relative;
    width: 100%;
}

.custom-group .form-control {
    width: 100%;
    padding-right: 160px;
    border: 0;

}
.custom-group .gametype {
    position: absolute;
    top:6px;
    right: 50px;
    padding-right: 10px;
}
.custom-group .form-button {
    position: absolute;
    top:2px;
    height: 32px;
    right: -8px;
    padding-right: 10px;
}

.custom-group .form-button .btn {
    height: 34px;
    border-radius: 2rem;
}

.custom-group .walletAlert {
    position: absolute;
    top:6px;
    left: 6px;
    padding-right: 10px;
}

.custom-group .gametype .token-select {
    position: absolute;
    top: -1px;
    right: 0px;
    width: 100px;
    padding-right: 10px;
}