.particlesjs {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #000;
}

.custom-header {
    position: relative;
    background: #1f242c;
}

.custom-header:before {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    z-index: 1;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, transparent 0%,#1f242c 100%),
                radial-gradient(farthest-corner,transparent 0%,#1f242c 100%);
}

.custom-header .header {
    position: relative;
    z-index: 10;
    padding-top: 80px;
    height: 600px;
    text-shadow: 2px 2px 6px #000;
}


.custom-header .header .btn-warning {
    text-shadow: none !important;
}

.custom-header .video-header {
    position: absolute;
    top: -150px;
    bottom: 0;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    right:0;
    overflow: hidden;
}

.custom-header h1 {
    font-size: 50px;
    font-family: "Montserrat-Bold"; 
}

.custom-header h1 span {
    font-size: 50px;
    font-family: "Montserrat-Thin"; 
}

.custom-header .video-header video {
    display: inline-block;
    width: 100%;
}

.buybtn i {
    margin-left: 15px;
    transition: all .3s ease-in-out;
}

.buybtn:hover i {
    margin-left: 25px;
}

.custom-header .typing-text {
    display: inline-block;
    height: 64px;
    font-size: 64px !important;
    padding-right: 8px;
    border-right: solid 3px #008a81;
    animation: blink 1s step-start infinite;
    animation-delay: 3.5s;
    line-height: 1em;
    font-family: "Montserrat-Bold"; 
}

@keyframes blink {
    50% {
        border-right: none;
    }
  }

.custom-header .small-header {
    height: 400px;
}

.custom-header .small-header h1 {
    font-size: 40px !important;
}

.custom-header .small-header h2 {
    font-size: 30px !important;
    font-family: "Montserrat-Bold"; 
}

.typing-text {}