.home-header {
    padding-top: 160px;
    padding-bottom: 110px;
    margin-top: -70px;
    background-color: var(--header-background);
    background-image: var(--default-gradient);
}

.small-header {
    padding-top: 120px;
    padding-bottom: 50px;
    margin-top: -70px;
    background-color: var(--header-background);
    background-image: var(--default-gradient);
}