@keyframes pulse-primary {
    0% {
        box-shadow: 0 0 0 0px #FFF ;
    }
    100% {
        box-shadow: 0 0 0 12px #FFFFFF00;
    }
}

@keyframes pulse-white {
    0% {
        box-shadow: 0 0 0 0px #FFF !important;
    }
    100% {
        box-shadow: 0 0 0 12px #FFFFFF00 !important;
    }
}

@keyframes pulse-kofi {
    0% {
        box-shadow: 0 0 0 0px #1171ef;
    }
    100% {
        box-shadow: 0 0 0 12px #11cdef00;
    }
}