
.list-group-scroll {
    max-height: 300px;
    overflow-y: scroll;
}

/* width */
.list-group-scroll::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.list-group-scroll::-webkit-scrollbar-track {
    background: #EEE; 
}
   
  /* Handle */
.list-group-scroll::-webkit-scrollbar-thumb {
    background: #AAA; 
    border-radius: 20px;
}
  
  /* Handle on hover */
.list-group-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}