.table {
    color: var(--table-color) !important;
}

.table td, .table th {
    vertical-align: middle;
}

table.table-striped tr:nth-child(odd) td {
    background-color: rgba(255,255,255,0.02);
    color: var(--table-color);
}

.table-hover > tbody > tr:hover > * {
    color: var(--table-hover-color);
}