.text-success {
    color: var(--success) !important;
}

.text-info {
    color: var(--info) !important;
}

.small {
    font-size: 0.7em;
}

.bg-gradient-primary {
    background: linear-gradient(87deg,#5e72e4,#825ee4) !important;
    transition: all .1s ease-in-out;
    border: none !important;
}

.btn.bg-gradient-primary:hover {
    background: linear-gradient(87deg,#5e72e4,#825ee4) !important;
    filter: brightness(120%);
}