.dark-theme {
    --nextui-colors-background: #0e141e;
    --nextui-colors-backgroundContrast: #172131;

    --nextui-colors-text: #EBEAEF;
    --nextui-colors-accents0: #172131;
    --nextui-colors-accents2: #090d14;
    --nextui-colors-link: #5e72e4;

    --nextui-colors-primarySolidContrast: #FFF;
    --nextui-colors-neutralLight: #202e45;

    --nextui-colors-primary: #33A9FE;
    --nextui-colors-primaryLight: #33A9FE;
    --nextui-colors-primaryLightContrast: #33A9FE;
    --nextui-colors-primaryShadow: #33A9FE;
    
    --nextui-colors-success: #62af66;
    --nextui-colors-successLight: #62af6651;
    --nextui-colors-successLightContrast: #62af66;
    --nextui-colors-successShadow: #62af66;

    --nextui-colors-error: #f8716c;
    --nextui-colors-errorLight: #753533;
    --nextui-colors-errorLightContrast: #f8716c;
    --nextui-colors-errorShadow: #f8716c;

    --nextui-colors-warning: #f0ad4e;
    --nextui-colors-warningLight: #f0ad4e51;
    --nextui-colors-warningLightContrast: #f0ad4e;
    --nextui-colors-warningShadow: #f0ad4e;

    --nextui-dropShadows-md: drop-shadow(0 .125rem .25rem rgba(0,0,0,.075));
    --nextui-dropShadows-lg: drop-shadow(0 .125rem .25rem rgba(0,0,0,.075));

    --nextui-letterSpacings-tighter: -0em !important;
    --nextui-fonts-sans: "Inter";
}