@media (prefers-color-scheme: light) {
    :root {
        /**
         * Primary Body colors
         */
        --body-bg: #F9F9F9;
        --body-font-color: #000;

        --nav-bg: #FFF;

        /**
         * Cards
         */
        --card-bg: #FFF;

        /**
         * Inputs
         */
        --input-bg: #FFF;
        --input-focus-bg: #FFF;
        --input-color: #AAA;
        --input-focus-color: #777;
        --input-border:  #00000055;
        --input-focus-border: #00000055;
        --input-placeholder: #AAA;

        --text-primary: #8463ff;
        --text-primary-hover: #9f84ff;

        --primary-card: #6777ef;
    }
}